<div class="bg-gray-800 h-full flex">
  <!-- Barra lateral -->
  <aside
    class="w-64 h-60 bg-cyan-950 text-white rounded-tr-lg rounded-br-lg mt-6 flex flex-col justify-center"
  >
    <nav class="flex flex-col gap-2 text-sm ms-8">
      <a
        href="/registro"
        class="hover:bg-cyan-600 hover:scale-105 rounded p-2 transition font-light text-lg font-jost"
      >
        <i class="fa-solid fa-user-plus me-3"></i>Crear Cuenta
      </a>
      <a
        href="/login"
        class="hover:bg-cyan-600 hover:scale-105 rounded p-2 transition text-lg font-light font-jost"
        ><i class="fa-solid fa-user me-5"></i>Iniciar Sesión</a
      >
      <a
        href="rutina"
        class="hover:bg-cyan-600 hover:scale-105 rounded p-2 transition font-jost font-light text-lg"
        ><i class="fa-solid fa-calendar-days me-3"></i>Rutinas</a
      >
      <a
        href="/about"
        class="hover:bg-cyan-600 hover:scale-105 rounded p-2 transition font-jost font-light text-lg"
        ><i class="fa-solid fa-face-smile-wink me-2"></i>Conócenos</a
      >
    </nav>
  </aside>
</div>
