<div class="flex flex-col min-h-screen max-h-screen">
  <!-- Escuchamos el evento toggleSidebar -->
  <app-navbar
    (toggleSidebar)="toggleSidebar()"
    class="transition duration-200"
  ></app-navbar>

  <div class="flex flex-1 min-h-0">
    <!-- Solo mostramos el sidebar si sidebarVisible es true -->
    <app-aside-navbar
      *ngIf="navbarLateralVisible"
      class="overflow-auto w-64 transition duration-200"
    ></app-aside-navbar>

    <div class="flex-1 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
